<ul class="owners">
  <li *ngFor="let owner of owners">
    <a routerLink="/detail/{{owner.id}}">
      <span class="badge">{{owner.id}}</span> {{owner.name}}
    </a>
  </li>
</ul>
<div class="col l4">
  <div class="card hoverable  ">
     <div class="card-image">
       <img src="https://i.imgur.com/E70ynTQ.jpg">
       <span class="card-title">Card Title</span>
     </div>
     <div class="card-content">
       <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
       <a href="#">This is a link</a>
     </div>
   </div>
</div>
