<script src="../../../assets/js/init.js"></script>
<div class="navbar">
<nav class="nav-extended orange lighten-1">
   <div class="nav-wrapper">

     <div class="hide-on-med-and-up show-on-small">
       <ul class="left ">
         <li><a class="waves-effect waves-light btn orange darken-1">Sign in</a></li>
       </ul>
       <a routerLink="/" class="brand-logo">&nbsp;&nbsp;C4ME</a>
       <ul class="right ">
         <li><a class="waves-effect waves-light btn orange darken-1 ">Sign up</a></li>
       </ul>
     </div>
     <div class="hide-on-small-only">
       <a routerLink="/"  class="brand-logo">&nbsp;&nbsp;C4ME</a>
       <ul class="right ">
         <li><a class="waves-effect waves-light btn orange darken-1 " >Sign in</a></li>
         <li><a class="waves-effect waves-light btn orange darken-1 ">Sign up</a></li>

       </ul>
     </div>

   </div>

   <div class="nav-content">
     <div class="row">
       <div class="hide-on-med-and-up show-on-small">

         <br>
       </div>
       <div class="input-field col s12 m4 l3 offset-m4 offset-l6">
          <app-auto-complete-input></app-auto-complete-input>

       </div>
       <div class="hide-on-med-and-up show-on-small">
         <br><br><br><br>
       </div>
       <div class=" input-field col s12 m4 l3">
          <!-- <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>  onclick="findProduct();"-->

          <!-- <label for="date">Date</label> -->
          <input type="text" class="datepicker" id="datepicker" placeholder="Date" required>
       </div>
     </div>
      <a routerLink="search/{{date}}/{{city}}"  class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-1 pulse "   >
        <i class="material-icons" >search</i>
      </a>
    </div>
 </nav>
</div>
<br><br><br><br><br><br>
