<h1>searching for something in {{city}} on the {{date}}</h1>
<div class="row" >
  <div *ngFor="let product of products">
      <div class="col l{{product.col}} " routerLink="/detail/{{product.id}}">
        <div class="card hoverable  ">
           <div class="card-image">
             <img src="https://i.imgur.com/E70ynTQ.jpg">
             <span class="card-title">{{ product.title }}</span>
           </div>
           <div class="card-content">
             <p>{{product.description}}</p>
           </div>
           <div class="card-action">
             <a href="/detail/{{product.id}}">{{product.link}}</a>
           </div>
         </div>
      </div>
  </div>
</div>
